@import "tailwindcss";

@layer utilities {

    @font-face {
        font-family: 'PROXON';
        src: url('/src/assets/fonts/PROXON.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .clip-1 {
        clip-path: polygon(0 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 85%, 35% 85%, 35% 60%);
    }
    .clip-1-0 {
        clip-path: polygon(0% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 92.5%, 50% 92.5%, 50% 60%);
    }

    .clip-2 {
        clip-path: polygon(30% 10%, 100% 10%, 100% 88%, 90% 100%, 0 100%, 0 0, 25% 0);
    }
    .clip-2-0 {
        clip-path: polygon(27.5% 12%, 100% 12%, 100% 88%, 90% 100%, 0 100%, 0 0, 22.5% 0);
    }
}